<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Bootstrap CSS -->
	<link href="{{url_for('static', filename='bootstrap.min.css')}}" rel="stylesheet">
	<title>Clinical Trial Mapper</title>
	<style>
	html {
		font-size: 14px;
		font-weight: 400;
		line-height: 1.5;
	}
	</style>
	<script src="{{url_for('static', filename='jquery-3.3.1.slim.min.js')}}"></script>
	<script src="{{url_for('static', filename='socket.io.js')}}"></script>
	<script src="{{url_for('static', filename='d3.v5.min.js')}}"></script>
	<script src="{{url_for('static', filename='d3-tip.min.js')}}"></script>
	<script src="{{url_for('static', filename='popper.min.js')}}"></script>
</head>
<body>

	{% include 'navbar.html' %}
	
	<div class="container">
		{% if "studies" in data %}
			{%for key, value in data.items()%}
				<table class="table">
					<tr>
						<th>Study ID</th>
						<th>Official Title</th>
						<th>Overall Status</th>
					</tr>
					{%for id, study in value.items()%}
						<tr>
							<td>{{study['nct_id']}}</td>
							<td>{{study['official_title']}}</td>
							<td>{{study['overall_status']}}</td>
						</tr>
					{%endfor%}
				</table>
			{%endfor%}
		{% endif %}
	</div>
</body>
</html>